<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define SQLParameters_TargetDir=$(var.SQLParameters.TargetDir)?>
	<Product Id="2fdb7814-2462-47b8-97a9-479bd05e38b0" Name="Sql Parameters Solution" Language="1033" Version="1.0.0.0" Manufacturer="Jacob Vox Sample" UpgradeCode="c5bd902c-0dc4-4420-8123-344288295892">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Images\installer_background.bmp" />
    
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
    
    <UIRef Id="WixUI_Minimal" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Sql Parameters Solution" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Sql Parameters Solution" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Sql Parameters Solution"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Sql Parameters Solution" Description="Sql Parameters Solution" Target="[INSTALLFOLDER]SQLParameters.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\SqlParameters" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
     <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
       <Shortcut Id="ApplicationDesktopShortcut" Name="Sql Parameters Solution" Description="Sql Parameters Solution" Target="[INSTALLFOLDER]SQLParameters.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\SqlParameters" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="SQLParameters.exe" Guid="c42dbb9f-5415-43bc-b6f0-a94bbc33b212">
			  <File Id="SQLParameters.exe" Name="SQLParameters.exe" Source="$(var.SQLParameters_TargetDir)SQLParameters.exe" />
			</Component>
			<Component Id="SQLParameters.exe.config" Guid="26f3763e-7d59-4527-97bb-1de916450bf4">
			  <File Id="SQLParameters.exe.config" Name="SQLParameters.exe.config" Source="$(var.SQLParameters_TargetDir)SQLParameters.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
